version: '3.5'
services:
  bot:
    image: registry.doctis.tech/devops/ansible_gostelemed/bot:test.py
    network_mode: "host"
    extra_hosts:
    - "gostelemed.ru:192.168.1.37"


# docker build -t gitlab.doctis.tech:5001/devops/ansible_gostelemed/bot:test -f Dockerfile .
# docker push gitlab.doctis.tech:5001/devops/ansible_gostelemed/bot:test